:8080 {
  reverse_proxy /socket.io* http://localhost:3000
  reverse_proxy /edit* http://localhost:3000

  header           >Cache-Control "public, max-age=3600"
  reverse_proxy http://localhost:5173
}
