:8080 {
  reverse_proxy /beatmaps/* https://assets.ppy.sh {
      header_up Host {upstream_hostport}
  }

  header           >Cache-Control "public, max-age=3600"
  reverse_proxy http://localhost:5173
}
