:root {
    font-family: 'Nunito Sans', sans-serif;
    scrollbar-track-color: transparent;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

::-webkit-scrollbar {
    width: 17.5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: padding-box;
    background-color: theme('colors.gray.400');
}

::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.gray.500');
}
