$primary: #52cca3;
$accent: #EA2463;

$text-color: #F2F2F2;

$surface-0: #0B0B0D;
$surface-50: #1A1A20;
$surface-100: #343440;
$surface-200: #4D4D5A;
$surface-300: #66666E;


$font-family: 'Nunito Sans', sans-serif;

$theme-colors: (
        "primary": $primary,
        "accent": $accent,
);

$border-color: $surface-100;

$focus-ring-width: 3px;
$focus-ring-alpha: 0.4;