{$HOSTNAME} {
	@backend {
		path /api/*
		path /auth/*
		path /admin/queues/*
		path /socket.io/*
	}

	handle @backend {
		reverse_proxy http://api-server:3000 {
			lb_try_duration 30s
			lb_try_interval 1s
		}
	}

	reverse_proxy http://client:5173
}
