$gray-100: #212529;
$gray-200: #1f292e;
$gray-300: #37474f;


$primary: #ff66ab;
$secondary: #e78338;

$min-contrast-ratio:   2.5;

$card-bg: $gray-300;

$profile-avatar-size: 56px;
$profile-inner-margin: 10px;

$border-color:                $gray-200;

$form-range-track-bg:             transparent;